/* Browser Reset */ 
*{
    font-size: 16px; 
    padding: 0;
    margin: 0; 
}

body {
    font-family: 'Jura'
}
.about h2{ 
    padding: 15px;
    font-size: 25px;
    padding-top: 50px;
    font-family: 'Jura';
}

#techbg{
    padding-top: 40px;
}

.about {
    font-size: 16px;
    text-align: center;
    background-color: #041e42;
    color: white;
    padding: 20px;
    font-family: 'Jura';
    
}

.about p {
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    font-family: 'Jura';
}

body{ 
    font-family: sans-serif;
    color: rgba(10, 10, 10, 0.9);
}
.hero{
    text-align: center;
    background-color: white;
    font-family: 'Jura';

}
.hero h1{ 
    padding: 15px;
    font-size: 35px;
    font-family: 'Jura';
    font-weight: bold;
}
/* Screen reader used to hide the Social Media Links references */
.screen-reader-text {
    border: 0;
    clip: ClientRect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 300000; /* Above WP toolbar. */
  }
/* VERY CRUCIAL REQUIRED TO DISPLAY: GRID */
body{display:grid;}
.navi{grid-area: navi;}
.hero{grid-area: hero;}
.about{grid-area: about;}
.content-1{grid-area: content-1;}
.content-2{grid-area: content-2;}
.content-3{grid-area: content-3;}
.education-1{grid-area: education-1;}
.education-2{grid-area: education-2;}
.experience-1{grid-area: experience-1;}
.experience-2{grid-area: experience-2;}
.experience-3{grid-area: experience-3;}
.experience-4{grid-area: experience-4;}
.technial{grid-area: technical;}
.soft{grid-area: soft;}
.links{grid-area: links;}

/* Mobile Version First */

@media screen and (min-width: 500px) {
    body{
        display: grid;
        grid-template-columns: 100%; /* 1 columns */ 
        grid-template-rows: 4vh 80vh 70vh 60vh 55vh 30vh 15vh 40vh 30vh 25vh 25vh 25vh 5vh;
        grid-template-areas: 
            "navi" 
            "hero"
            "about"
            "content-1"
            "content-2"
            "content-3"
            "education-1"
            "education-2"
            "experience-1"
            "experience-2"
            "experience-3"
            "experience-4"
            "links";
    }
    .about p {
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 10px;
    }
    .content-1,
    .content-2,
    .content-3{
    width: 90%;
    height: 50%;
    justify-self: center;
    align-self: center;
    background-color: #ffffff;
    text-align: center;  
    font-family: 'Jura';
    border: 3px solid #041e42;
    }
    .content-1{
        height: 60%;
    }

    .education-2 h2{ /* Padding from Content area and font customization */
    padding-top: 30px;
    font-size: 20px;
    font-weight: bold;
    }

    .experience-1 p,
    .experience-2 p,
    .experience-3 p,
    .experience-4 p{
        padding-left: -50px;
        padding-right: -50px;
        padding-bottom: 10px;
    }
}

/* Desktop Size */ 
@media screen and (min-width: 1024px) {
    body{
        
        grid-template-columns: 33.333% 16.666% 16.666% 33.333%;
        grid-template-rows: 4vh 75vh 50vh 30vh 40vh 25vh 10vh 10vh 10vh 5vh;
        /* switch to auto */
        grid-template-areas: 
        "navi navi navi navi"
        "hero hero hero hero"
        "about about about about"
        "content-1 content-2 content-2 content-3"
        "education-1 education-1 education-2 education-2"
        "experience-1 experience-1 experience-1 experience-1"
        "experience-2 experience-2 experience-2 experience-2"
        "experience-3 experience-3 experience-3 experience-3"
        "experience-4 experience-4 experience-4 experience-4"
        "links links links links";
    }
}
/* Making the content width smaller but height larger */ 
.content-1,
.content-2,
.content-3{
    width: 90%;
    height: 210%;
    justify-self: center;
    align-self: center;
    background-color: #ffffff;
    text-align: center;  
    font-family: 'Jura';
    border: 3px solid #041e42;
}

.content-1 ul,
.content-2 ul, 
.content-3 ul {
    padding: 0;
    text-decoration: none;
    list-style: none; /* Gets rid of the bullet points */ 
}

.content-1 ul li,
.content-2 ul li,
.content-3 ul li {
    text-decoration: none;
    padding: 5px;
}

.content-1 h2,
.content-2 h2, 
.content-3 h2 { /* Adding space between the header and the text */
    padding: 20px;  
    font-size: 25px;
    font-weight: bold;
}

.content-1 h4,
.content-2 h4, 
.content-3 h4 { /* Adding space between the header and the text */ 
    padding: 25px;
    color: #041e42;
    font-weight: bold;
}

.content-1 p,
.content-2 p,
.content-3 p { /* Adding padding for all the paragraph texts */ 
    padding-left: 15px;
    padding-right: 15px;  
    padding-bottom: 15px;  
}

.content-1 .fas,
.content-2 .fas,
.content-3 .far { /* Font awesome padding*/
    padding: 20px;
}

.education-1 h2,
.education-2 h2{ /* Padding from Content area and font customization */
    padding-top: 200px;
    font-size: 20px;
    font-weight: bold;
}

.education-1,
.education-2{
    font-family: 'Jura';
    padding-left: 25px;
}

.education-1 p,
.education-2 p {
    padding-top: 20px;
}

.education-2 p{
    padding-right: 15px;
}

.experience-1,
.experience-2,
.experience-3,
.experience-4{
    font-family: 'Jura';
    background-color: #041e42;
    color: #ffffff;
}

.experience-1 h2,
.experience-2 h2,
.experience-3 h2,
.experience-4 h2{
    font-size: 20px;
    padding-left: 200px;
    padding-bottom: 20px;
}

.experience-1 h1 { /* Experiences title bar */
    font-size: 25px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
}


.experience-1 p,
.experience-2 p,
.experience-3 p,
.experience-4 p{
    padding-left: 200px;
    padding-right: 150px;
    padding-bottom: 10px;
}
#social-media-links {
    list-style: none;
    text-align: center; 
}

#social-media-links > li {
    /* Direct childer selector ">" the LI must be DIRECTLY inside the element wit hthe "social-media-links" id in this case. */
    display: inline-block;
    padding: 15px;
}

#social-media-links .fab {
    color: rgba( 50, 50, 50, 25); /* RGBA - the 'a' stands for ALPHA channel. */ 
    /* For alpha = 1 opaque; 0 = transparent; */
    font-size: 32px;
    /* Changes the icons to any color you want in this case gray */
}

#social-media-links a:hover .fab,
#social-meada-links a:focus .fab,
#social-media-links a:active .fab { /* Pseudo-selector with nesting. */ 
    color: #041e42;
    /* Will hover with that color not */
}

